.wlcm {
    margin-left: 50px;
    margin-top: 20%;
    font-size: 100px;
}

body {
    background-color: white;
    background-size: cover;
    margin: 0;
    background-position-x: 5%;
    background-position-y: 5%;
    padding: 0;
    font-family: sans-serif;
    width: 1530px;
}

.box {
    background-color: black;
    font-size: 40px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px black;
    display: flex;
    transition: .3s;
    color: white;
}

.box:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.name {
    margin: 10px;
}

.phno {
    margin: 10px;
}
.desc {
    margin: 10px;
}
.avail {
    margin: 10px;
}

input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    width: 20px;
    height: 30px;
}

/*new*/
.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 170px;
    height: 100vh;
    background-color: orange;
    transition: left 0.3s ease-in;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul li {
    list-style: none;
    margin-top: 20px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 13vw;
}

ul li a {
    text-decoration: none;
    color: orange;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    transform: translateX(-101%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: orange;
    color: black;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

a,
button {
    cursor: pointer;
}

.hamburger,
.bar {
    position: fixed;
}

.hamburger {
    display: block;
    top: 5%;
    left: 20px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar {
    top: 3px;
    background: black;
    width: 20px;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2 {
    top: 11px;
}

#bar3 {
    top: 19px;
}

/*menu*/
.logout {
    border: 0px;
    color: white;
    background-color: orange;
    font-size: 25px;
    margin-left: 37px;
}

.dlt {
    margin-left: 26%;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.upd {
    margin-left: 25%;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.line {
    color: black;
    font-size: larger;
    margin-left: 12px;
}