/*.areaa {
    width: 330px;
    margin-left: 450px;
    padding-top: 350px;
    font-size: 30px;
}*/

.search {
    width: 330px;
    margin-left: 450px;
    padding-top: 350px;
    font-size: 30px;
}

.srch {
    font-family: "Times New Roman";
    width: 200px;
    height: 60px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: orange;
    border-right: none;
    font-size: 30px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 60px;
    background: orange;
    border: 2px solid orange;
    margin-top: 13px;
    color: #fff;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: "Times New Roman";
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a {
    text-decoration: none;
}

.content span {
    font-size: 60px;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    font-size: 200px;
    font-family: Arial;
    text-align: center;
    padding-top: 1px;
    margin-left: 175px;
    margin-top: 100px;
    color: white;
}

h1 {
    text-align: left;
}

body {
    background-color: black;
}

/*new*/
.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 185px;
    height: 770px;
    background-color: orange;
    transition: left 0.3s ease-in;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul li {
    list-style: none;
    margin-top: 20px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: orange;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: orange;
    color: black;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

a,
button {
    cursor: pointer;
}

.hamburger,
.bar {
    position: fixed;
}

.hamburger {
    display: block;
    top: 5%;
    left: 20px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar {
    top: 3px;
    background: white;
    width: 20px;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2 {
    top: 11px;
}

#bar3 {
    top: 19px;
}

/*menu*/
.hm {
    margin-left: 60px;
    font-size: medium;
}

.abt {
    margin-left: 55px;
    font-size: medium;
}

.cont {
    margin-left: 45px;
    font-size: medium;
    margin-left: 50px;
}

.logout {
    border: 0px;
    color: white;
    background-color: orange;
    font-size: 25px;
    margin-left: 45px;
}

.logoutt {
    border: 0px;
    color: white;
    background-color: orange;
    font-size: 25px;
    margin-left: 55px;
}

.logouttt {
    border: 0px;
    color: black;
    background-color: orange;
    font-size: 25px;
    margin-left: 1px;
}

.line {
    color: black;
    font-size: larger;
    margin-left: 20px;
}

/*new
.areamenuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.areahamburger {
    position: fixed;
    z-index: 100;
    margin-top: 25px;
    margin-left: 37%;
    padding: 5px;
    background: orange;
    cursor: pointer;
    font-size: 40px;
}

.areacloseIcon {
    background-color: black;
    color: white;
}

.areamenu {
    position: fixed;
    transform: translateY(100%);
    transition: transform 0.2s;
    top: 57%;
    left: 49%;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    list-style: none;
    padding-top: 4rem;
}

.areashowMenu {
    transform: translateX(0);
}*/


/*dropdown*/
        /* Dropdown Button */
        .dropbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
    
        /* Dropdown button on hover & focus */
        .dropbtn:hover,
        .dropbtn:focus {
            background-color: #3e8e41;
        }
    
        /* The search field */
        #myInput {
            box-sizing: border-box;
            background-image: url('searchicon.png');
            background-position: 14px 12px;
            background-repeat: no-repeat;
            font-size: 16px;
            padding: 14px 20px 12px 45px;
            border: none;
            border-bottom: 1px solid #ddd;
        }
    
        /* The search field when it gets focus/clicked on */
        #myInput:focus {
            outline: 3px solid #ddd;
        }
    
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }
    
        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f6f6f6;
            min-width: 230px;
            border: 1px solid #ddd;
            z-index: 1;
        }
    
        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
    
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }
    
        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {
            display: block;
        }