*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    color: orange;
    font-size: 70px;
    padding-left: 30px;
}

body{
    background-image: url(../images/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container{
    width: 100%;
    height:100vh;
    padding: 0.8%;
}

.div {
    width: 20px;
}

.container h1{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.container h1::after{
    content: '';
    background: orange;
    width: 300px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.menu button::before {
    content: '';
    background: black;
    width: 10px;
    height: 5px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    font-family: 'Rancho';
    font-size: 100px;
}

.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
}

.service h2{
    font-weight: 600;
    margin-bottom: 8px;
    color: white;
}

.service:hover{
    background: orange;
    color: black;
    transform: scale(1.05);
}

.service:hover i{
    color: black;
}
.service:hover {
    color: black;
}

/*main page*/
.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: white;
    font-size: 55px;
    font-family: Arial;
    float: left;
    padding-top: 10px;
    margin-left: 30%;
}

.search {
    width: 330px;
    float: left;
    margin-left: 670px;
    margin-top: 10px;
}

.srch {
    font-family: "Times New Roman";
    width: 200px;
    height: 40px;
    background: black;
    color: white;
    border: 1px solid orange;
    margin-top: 13px;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: orange;
    border: 2px solid orange;
    margin-top: 13px;
    color: black;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.options {
    color: black;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: "Times New Roman";
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a {
    text-decoration: none;
    color: #000;
}

.content span {
    color: orange   ;
    font-size: 60px;
}

h1 {
    text-align: left;
    font-family: 'Monoton';
    word-spacing: 10px;
    color: white;
}

body {
    background-color: black;
}

p {
    color: black;
}

/*new*/
.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 170px;
    height: 100vh;
    background-color: orange;
    transition: left 0.3s ease-in;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul li {
    list-style: none;
    margin-top: 20px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 13vw;
}

ul li a {
    text-decoration: none;
    color: orange;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    transform: translateX(-101%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: orange;
    color: black;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

a,
button {
    cursor: pointer;
}

.hamburger,
.bar {
    position: fixed;
}

.hamburger {
    display: block;
    top: 5%;
    left: 20px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar {
    top: 3px;
    background: white;
    width: 20px;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2 {
    top: 11px;
}

#bar3 {
    top: 19px;
}

/*menu*/
.hm {
    margin-left: 55px;
    font-size: medium;
}

.abt {
    margin-left: 53px;
    font-size: medium;
}

.cont {
    margin-left: 35px;
    font-size: medium;
    margin-left: 45px;
}

.logout {
    border: 0px;
    color: white;
    background-color: orange;
    font-size: 25px;
    margin-left: 37px;
}

.logouttt {
    border: 0px;
    color: black;
    background: transparent;
    font-size: 25px;
    margin-right: 35px;
}

.line {
    color: black;
    font-size: larger;
    margin-left: 10px;
}

option {
    background-color: white;
    color: black;
    border-color: white;
    font-size: 25px;
}