h1 {
    color: white;
}
h2 {
    margin-left: 120px;
}

.blah1 {
    height: 35px;
    width: 100vw;
    float: right;
    padding-right: 25px;
}


.blah2 {
    background-color: orange;
    height: 36px;
    display: flex;
    border-radius: 20px;
    float: right;
}

.right, .left {
    list-style-type: none;
    padding-left: 0%;
    white-space: normal;
    margin-top: .5%;
    height: 50%;
}

.right {
    height: 100%;
    width: 50%;
    border-radius: 27px;
}

.left {
    background-color: black;
    margin-left: 20px;
    height: 95%;
    width: 150px;
    border-radius: 27px;
}

.right li a {
    text-decoration: none;
    display: block;
    width: 75%;
    font-size: 15px;
    color: black;
    padding: 9px 25px;
    border-radius: 30px;
    padding-left: 34%;
}

.left li a {
    text-decoration: none;
    display: block;
    width: 75%;
    font-size: 20px;
    color: black;
    padding: 6px 15px;
    border-radius: 27px;
    font-weight: bold;
    color: white !important;
}

.right li a:hover {
    background-color: white;
    margin-top: -0.5px;
    height: 55%;
    width: 70%;
    border-radius: 27px;
}

.left li a:hover {
    background-color: white;
    height: 80%;
    width: 77%;
    border-radius: 30px;
    text-align: center;
    color: black !important;
    margin-bottom: 100%;
}
body {
    background-image: url(connexalogo.png);
    background-size: cover;
    background-position-x: 5%;
    background-position-y: 5%;
    padding-top: 35px;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    object-fit: cover;
}

.box {
    background-color: black;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    display: flex;
    transition: .3s;
}
.box:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
    border-radius: 10px;
}
input[type=text] {
    display: inline-block;
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: .5px solid;
    margin: 10px 0;
}
input[type=password] {
    display: inline-block;
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: .5px solid;
    margin: 10px 0;
}
.sub {
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: orange;
    font-size: 20px;
    cursor: pointer;
}